.card__container {
    background-color: rgb(129, 123, 123);
    padding: 10px;
    margin: 10px;

}

.auqa {
    background-color: aqua;

}

.green {
    background-color: green;

}

.red {
    background-color: red;

}

.black {
    background-color: black;

}

.card__speed {
    background-color: darkgrey;

}

#cool {
    transform: scale(1.2);
}